.constructor--SnackBarContainer {
  position: fixed;
  z-index: 2;
  right: var(--space-l);
  bottom: calc(var(--space-4xl) + var(--space-l));

  &-Message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
