.constructor--ConstructorVarsShadowOption {
  &-Controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--space-xs);
  }

  &-Inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--space-xs);
  }

  &-List {
    & > *:not(:last-child) {
      border-bottom: 1px solid var(--color-bg-border);
    }
  }
}
