.constructor--ConstructorExample {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 800px;
  height: max-content;
  max-height: max-content;
  background: var(--color-bg-default);

  &_sticky {
    position: sticky;
    top: calc(100vh - var(--constructor-example-height));
  }

  &-Top {
    width: 100%;
    background: var(--color-bg-secondary);
  }

  &-Image {
    position: absolute;
    left: 0;
    bottom: calc(var(--space-2xl) + var(--space-2xs));
    width: 174px;
    height: 170px;
  }

  &-Footer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-bg-secondary);
    border-top: 1px solid var(--color-bg-border);
  }

  @media screen and (min-width: 1280px) {
    border-left: 1px solid var(--color-bg-border);
    border-right: 1px solid var(--color-bg-border);
  }
}
